h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}

label {
  margin-top: 12px;
}

thead {
  font-weight: 800;
}

tr {
  cursor: pointer;
}

.margin-top {
  margin-top: 25px;
}

.desa-sidebar {
  float: left;
  display: block;
  width: 260px;
  min-height: 100vh;
  height: auto;
  background: #3e3e3e;
  position: fixed;
}

.sidebar-logo {
  text-align: center;
  margin-top: 25px;
}

.sidebar-profile {
  text-align: center;
  margin-top: 35px;
}

.sidebar-profile img {
  height: 95px;
  border-radius: 5px;
}

.sidebar-profile p {
  font-size: 14px;
  margin-top: 4px;
  color: #ffffff;
}

.sidebar-menu {
  margin-top: 25px;
}

.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
  color: #ffffff;
}

.sidebar-menu ul li {
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
}

.sidebar-menu ul li.active {
  background: #333;
}

.sidebar-menu ul li:hover {
  background: #333;
}

.sidebar-menu ul li span {
  float: right;
}

.sidebar-menu a {
  color: #ffffff;
  text-decoration: none;
}

.sidebar-menu .router-link-active li {
  background: #333;
}

.sidebar-menu .sub {
  display: none;
}

.sidebar-menu .sub a {
  color: #ffffff;
}

.sidebar-menu .sub .router-link-active li::before {
  font-family: FontAwesome;
  content: "\F105";
  padding-right: 12px;
}

.sidebar-menu .sub .router-link-active li:hover {
  text-decoration: none;
}

.sidebar-menu .sub li {
  font-size: 12px;
  margin-left: 15px;
  padding: 5px;
}

.sidebar-menu .sub .router-link-active {
  background: #222;
}

.sidebar-menu .sub li:hover {
  background: #222;
}

.sidebar-menu .sub ul li a {
  color: #ffffff !important;
}

.sidebar-menu ul li:first-child::after {
  content: '';
}

.sidebar-menu ul li:last-child::after {
  content: '';
}

.sidebar-menu ul li i {
  font-size: 15px;
  width: 25px;
}

.sidebar-copyright {
  bottom: 0;
  left: 55px;
  position: relative;
}

.desa-content {
  float: left;
  width: calc(100% - 260px);
  margin-left: 260px;
}

.desa-content table {
  width: 100%;
}

.desa-content table th {
  padding-bottom: 12px;
}

.desa-content table td {
  padding: 7px;
}

.desa-content table tr:hover {
  background: #e3e3e3;
}

.desa-content table tr:not(:last-child) {
  border-bottom: 1px solid #e3e3e3;
}

.desa-content .top {
  width: 100%;
  min-height: 75px;
  height: auto;
  background: #ffffff;
  -webkit-box-shadow: #e3e3e3 2px 1px 4px 1px;
          box-shadow: #e3e3e3 2px 1px 4px 1px;
  text-align: right;
  padding: 25px;
}

.desa-content .top ul {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.desa-content .top ul li {
  padding-left: 25px;
  font-size: 25px;
}

.desa-content-main {
  padding: 35px;
}

.desa-small {
  float: left;
  width: 25%;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 25px;
}

.desa-third {
  float: left;
  width: 33.33%;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 25px;
}

.desa-mid {
  float: left;
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 25px;
}

.desa-almost-full {
  float: left;
  width: 75%;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 25px;
}

.desa-full {
  float: left;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 25px;
}

.desa-container {
  background: #ffffff;
  -webkit-box-shadow: #e3e3e3 2px 1px 4px 1px;
          box-shadow: #e3e3e3 2px 1px 4px 1px;
  padding: 25px;
  border-radius: 5px;
  float: left;
  width: 100%;
  margin-bottom: 25px;
}

.seeAll {
  text-align: right;
  margin-top: 7px;
}

.seeAll a {
  color: #68B3C8;
  font-size: 12px;
}

.submitButton,
.deleteButton {
  background: transparent;
  border: none;
  border: solid 1px #333;
  background: #333;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

.submitButton:hover,
.deleteButton:hover {
  background: #222;
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

.deleteButton {
  border: solid 1px #cc0000;
  color: #cc0000;
  background: transparent;
  float: right;
}

.deleteButton:hover {
  background: #cc0000;
  color: #ffffff;
}

.seperator {
  border-bottom: 1px solid #e3e3e3;
  width: 100%;
  margin-top: 7px;
}

.clientInfo {
  width: 100%;
}

.clientInfo tr td {
  width: 50%;
}

.clientInfo tr td i {
  margin-right: 12px;
}

.clientInfo tr {
  font-size: 16px;
  border: none !important;
}

.clientInfo tr:hover {
  cursor: default;
  background: #fff !important;
}

.clientAction,
.clientActionDelete {
  width: 100%;
  font-size: 18px;
  border: solid 1px #222;
  background: transparent;
  margin-bottom: 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.clientAction.active,
.active.clientActionDelete {
  background: #92B558;
  border-color: #92B558;
  color: #ffffff;
}

.clientAction:hover,
.clientActionDelete:hover {
  background: #222;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #ffffff;
}

.clientActionDelete {
  border-color: #cc0000;
  color: #cc0000;
}

.clientActionDelete:hover {
  background: #cc0000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #ffffff;
}

.orderProducts {
  height: 300px;
  overflow: scroll;
  margin-top: 12px;
}

.orderProductTable tr {
  cursor: default;
}

.orderProductTable span {
  color: #cc0000;
  cursor: pointer;
  font-weight: 800;
}

.orderProducts ul {
  list-style-type: none;
  padding: 0;
}

.orderProducts ul li {
  padding: 5px;
  font-size: 16px;
}

.orderProducts ul li:hover {
  background: #222;
  color: #ffffff;
  cursor: pointer;
}

.orderProducts ul li:not(:last-child) {
  border-bottom: solid 1px #68B3C8;
}

.orderProducts b {
  float: right;
}

.pagination {
  cursor: pointer;
}

.backButton {
  border: solid 1px #F3BB45;
  padding: 5px 12px 5px 12px;
  font-size: 16px;
  background: transparent;
  color: #F3BB45;
  margin-bottom: 12px;
  font-weight: 600;
}

.backButton::before {
  font-family: FontAwesome;
  content: "\F100   ";
}

.requestInProgress {
  color: #92B558;
}

.requestCanceled {
  color: #cc0000;
}

.requestDone {
  color: #68B3C8;
}

.viewMore {
  border: solid 1px #68B3C8;
  padding: 5px 12px 5px 12px;
  font-size: 16px;
  background: transparent;
  color: #68B3C8;
  margin-bottom: 12px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  margin-top: 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.viewMore:hover {
  background: rgba(104, 179, 200, 0.57);
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.searchResults {
  position: absolute;
  background: #ffffff;
  border: solid 1px #3e3e3e;
  height: 225px;
  display: block;
  z-index: 9999;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

#employeeStatistics table tr {
  cursor: default;
}

.logout {
  font-size: 12px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .desa-content {
    width: 100%;
    margin: 0;
  }

  .desa-sidebar {
    display: none;
  }
}

